<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <!-- Link to custom stylesheet -->
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <div class="container">
      <!-- Main body content gets injected here -->
      {{{body}}}
    </div>
  </body>
</html>
